@model PickUp.Web.ViewModels.MyTrips.MyTripsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Attended Trips</h2>

@if (Model.AttendedTrips.Count() == 0)
{
    <h4 style="text-align:center">You haven't participated in any trips yet!</h4>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Departure time</th>
                <th>Available seats</th>
                <th>Driver</th>
                <th>Rate Driver</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trip in @Model.AttendedTrips)
            {
                <tr>
                    <td>@trip.From.Name</td>
                    <td>@trip.To.Name</td>
                    <td>@trip.StartDate</td>
                    <td>@trip.AvailableSeats</td>
                    <td>@trip.Driver.UserName</td>
                    @if (DateTime.Now < @trip.StartDate.AddDays(1))
                    {
                        <td>
                            <div data-id="@trip.DriverId" data-action="up" class="row" style="float: left"><span class="glyphicon glyphicon-heart"></span></div>
                            <div data-id="@trip.DriverId" data-action="down" class="row" style="float: right; margin-right:60px"><span class="glyphicon glyphicon-remove"></span></div>
                            <div class="rated" style="display: none">Rated</div>
                        </td>
                    }
                    else
                    {
                        <td>Pending</td>
                    }
                </tr>
            }
            <tr></tr>
        </tbody>
    </table>
}


@if (this.ViewBag.IsDriver)
{
    <h2>Created Trips</h2>
    if (Model.CreatedTrips.Count() == 0)
    {
        <h4 style="text-align:center">You haven't created any trips yet!</h4>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure time</th>
                    <th>Available seats</th>
                    <th>Edit Trip</th>
                    <th>Rate Passengers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in @Model.CreatedTrips)
                {
                    <tr>
                        <td>@trip.From.Name</td>
                        <td>@trip.To.Name</td>
                        <td>@trip.StartDate</td>
                        <td>@trip.AvailableSeats</td>
                        <td><a href="/Edit/EditTrip/@trip.Id">Edit</a></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm-@trip.Id">Rate</button>
                            <div class="modal fade bs-example-modal-sm-@trip.Id" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="mySmallModalLabel">Rate Passengers</h4>
                                        </div>
                                        <div class="modal-body">
                                            @if (trip.Passengers.Count == 0)
                                            {
                                                <h4>There are no passengers to rate!</h4>
                                            }
                                            else
                                            {
                                                foreach (var passenger in @trip.Passengers)
                                                {
                                                    <table style="width: 100%">
                                                        <tr>
                                                            <td style="text-align:center">
                                                                <h4 style="text-align:center">@passenger.Email</h4>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div data-id="@passenger.Id" data-action="up" class="row" style="float: left; margin-left:60px"><span class="glyphicon glyphicon-heart"></span></div>
                                                                <div data-id="@passenger.Id" data-action="down" class="row" style="float: right; margin-right:60px"><span class="glyphicon glyphicon-remove"></span></div>
                                                                <div class="rated" style="display: none; text-align:center">Rated</div>
                                                                <hr />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                <tr></tr>
            </tbody>
        </table>
    }
}
<style>
    .glyphicon {
        cursor: pointer;
    }
</style>
@section scripts{
    <script>
        $("div[data-action='up']").click(function () {
            var id = $(this).attr("data-id");
            $(this).hide();
            $(this).next().hide();
            $(this).next().next().show()
            updateVotesCount(5, id);
        })

        $("div[data-action='down']").click(function () {
            var id = $(this).attr("data-id");
            $(this).hide();
            $(this).prev().hide();
            $(this).next().show();
            updateVotesCount(-3, id);
        })

        function updateVotesCount(value, id) {
            $.post("/Rates/RateUser", { userId: id, rateValue: value }, function (data) {
                $("#hidden").show();
                $("#hidden").html("Rated");
            })
        }
    </script>
}
