@model PickUp.Web.ViewModels.Trips.TripDetailsViewModel
@{
    ViewBag.Title = "ById";
}

<div class="row">
    <div class="col-md-1">
        <div class="well text-center">
            <div class="row" id="availableSeats">@Model.AvailableSeats</div>
            <div class="row">Available Seats</div>
        </div>
        @if (!this.ViewBag.IsCurrentUserJoinedTheTrip && !this.ViewBag.IsCurrentUserTheDriver && Model.AvailableSeats > 0)
        {
            <input id="join" type="button" class="btn btn-success" value="Join" />
        }
        
    </div>
    <div class="col-md-10">
        <div class="row">
            <h4>
                Trip from @Model.From to @Model.To
            </h4>
            <h5>Start date: @Model.StartDate</h5>
        </div>
        <div class="row">
            <p>Description: @Model.Description</p>
        </div>
        <div class="row">
            <p>Driver: @Model.Driver</p>
            <input type="button" class="btn btn-primary" value="Send message" />
        </div>
        <div class="row">
            <h3>Passengers: </h3>
            <p id="newPassenger" style="display: none"></p>
            @if (Model.Passengers.Count() == 0)
            {
                <h4 id="noPassengersText">There are still no passengers in this trip!</h4>
            }
            @foreach (var passenger in Model.Passengers)
            {
                <p>@passenger.UserName</p>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $("#join").click(function () {
            @*$("#newPassenger").show();
            $("#newPassenger").html(@this.User.Identity.Name);*@
            var hrefParams = location.href.split("/");
            var tripId = hrefParams[hrefParams.length - 1];
            $.post("/Trips/Join", { tripId: tripId }, function (data) {
                var name = data.PassengerName;
                var availableSeats = data.AvailableSeats;
                $("#newPassenger").show();
                $("#join").hide();
                $("#newPassenger").html(name);
                $("#availableSeats").html(availableSeats);
                $("#noPassengersText").hide();
            })
        })
    </script>
}
